
.pare{
    background-color:rgb(182, 123, 21) ;
    margin-top: 10vh;
    padding-top: 10px;
}
.pare .yll1{
    text-align: center;
    color: rgb(142, 93, 9);
    font-size: 10px;
}

.epara ul {
    list-style-type: none;
    margin: 10px;
    padding: 0px 20px 20px 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
  
.epara li {
    float: left;
}
  
.epara li a {
    display: block;
    color:white;
    text-align:center;
    text-decoration: none;
    padding: 10px;
    margin: 3px;
}

.epara #titull{
    color:white;
    padding: 5px;
    margin-top: 0px;
    font-family: "Comforter", cursive;
    font-weight: 400;
    font-style: normal;   
    font-size: 27px; 
}

.epara #kuti{
    border: 0.5px solid;
    border-color: rgb(255, 255, 255);
    background-color:rgb(182, 123, 21);
    padding: 10px;
    font-size: 17px;
}

.foto{
    background-image: url('image/serviceshome.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
    top: 0px;
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto h1{
    font-size:60px;
    text-align: center;
    color: rgb(255, 255, 255);
    position: absolute;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    margin: 50px 10px;
}

.trupi .item{
    width: 25%;
}
  
  .gallery-image {
    width: 200px;
    height: auto;
    margin: 10px;
    cursor: pointer;
  }
  
  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
  }
  
  .overlay-image {
    width: 100%;
    height: auto;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #ffffff;
    font-size: 30px;
    cursor: pointer;
  }
  

.foter{
    background-color: rgb(182, 123, 21);
 }
 
 .foter .grid-container{
     display: grid;
     grid-template-columns: auto auto auto auto;
     margin: 50px;
 }
 
 .foter #royal{
     color:white;
     padding: 5px;
     text-align: center;
     border-width: 4px 0px 0px 0px;
     font-family: "Comforter", cursive;
     font-weight: 400;
     font-style: bold;   
     font-size: 27px; 
 }
 
 .foter h2{
     color:white;
 }
 
 .foter p{
     color:white;
 }
 
 .foter .social i{
     color: white;
     margin: 5px;
 }
 
 .foter .yll{
     font-size: 9px;
     color: rgba(238, 155, 11, 0.64);
     text-align: center;
     margin-top: 10px;
 }

 
@media screen and (max-width:500px){
    .trupi .item{
        flex: 0 0 50%; 
     }
    .foter .grid-container{
        display: flex;
        flex-wrap: wrap;
    }
    .foter .grid-item{
            flex: 1 100%; /* Kur ekranit është më i vogël se 500px, shfaq dy kolona në një rresht */
            max-width: 50%; /* Maksimumi i gjërësisë për një kolonë në rresht */
            margin-bottom: 10px;
    }
    .foter #royal {
        font-size: 23px;
    }
    .foter h2{
        font-size: 20px;
    }
}
 